.history {
	margin: 40px 0;

	.history__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #181818;
		cursor: pointer;

		.title {
			font-size: large;
			font-weight: 500;
		}

		.expand-icon {
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			img {
				width: 20px;
				height: 20px;
			}

			.heading-open {
				transition: 1s ease;
				transform: rotateZ(0);
			}

			.heading-closed {
				transition: 1s ease;
				transform: rotateZ(180deg);

				animation-name: spin-icon;
				animation-duration: 2000ms;
				animation-iteration-count: infinite;
				animation-delay: 2000ms;
				animation-timing-function: ease-in-out;
			}
		}

		@keyframes spin-icon {
			0% {
				transform: rotateZ(0deg);
			}
			20%,
			100% {
				transform: rotateZ(360deg);
			}
		}
	}

	.history__data {
		display: flex;
		flex-flow: column;
		align-items: center;

		.history__transaction {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 95%;

			.data {
				display: flex;
				justify-content: space-between;
				padding: 10px 8px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				margin: 10px 0;
				border-right: 5px solid red;
				transition: width 1s;

				width: 100%;
			}

			.close-btn {
				display: flex;
				justify-content: center;
				font-size: large;
				background-color: red;
				color: white;
				transition: opacity 1s, width 1s;
				padding: 10px 0;

				opacity: 0;
				width: 0;
			}
		}

		.history__transaction:hover {
			.data {
				width: 90%;
			}

			.close-btn {
				opacity: 1;
				width: 10%;
			}
		}
	}

	.data-closed {
		max-height: 0;
		overflow: hidden;
		transition: max-height 1s, overflow 0s;
	}

	.data-open {
		max-height: 10.9rem;
		overflow: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		transition: max-height 1s, overflow 1s;
	}

	.data-open::-webkit-scrollbar {
		display: none;
	}
}
